extends layout

block content
  if (!currentUser)
    p.disclaimer
      a(href='/user/log-in') Log in
      |  or 
      a(href='/user/sign-up') Sign up 
      |  to start using the board.

  div.background
    div.message-display_outer
      div.messages-display
        if messages.length === 0
          div No message yet. Be the first! 
        else
          each message in messages
            div.message-container
              div.message_title #[strong #{message.title}]
              div.message_text= message.text
              if (currentUser && currentUser.membership === 'Platinum')
                div.message_timestamp posted by #{message.author.username} at #{message.timestamp_formatted}
    if currentUser
      a.new-message_link(href='/message/new') New message