doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Index
      if currentUser 
        a(href='/user/log-out') Log out
        a(href='/user/upgrade') Upgrade your account
      else
        a(href='/user/log-in') Log in 
        a(href=('/user/sign-up')) Sign up
    block content
