doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1
        a(href='/') Space Swirl Lodge
      div.nav-links
        if currentUser 
          p Welcome, #{currentUser.username} 
            if(currentUser.membership === 'Platinum')
              |🌟
            |:
          a(href='/user/log-out') #[strong Log out]
          if (currentUser.membership !== 'Platinum')
            a(href='/user/upgrade') #[strong 🌟 Upgrade your account]
        else
          a(href='/user/log-in') #[strong Log in]
          a(href=('/user/sign-up')) #[strong Sign up]
    main
      block content
