extends layout 

block content 
  h2= title

  if (currentUser)
    form(action="" method='POST')
      div.input-group
        label(for='message_title') Message title: 
        input#message_title(type='text' minlength='2' maxlength='100' name='message_title' value=(message===undefined ? '' : message.title))
      div.input-group
        label(for='message_text') Message: 
        input#message_text(type="text" minlength='2' maxlength='100' name='message_text' value=(message===undefined ? '' : message.text))
      div
        input(type="submit", value="Send message")
  
  else
    p You first need to log in.