extends layout 

block content 
  h2= title
  div 
    form(method='POST' action='')
      div 
        label(for='first_name') First name: 
        input#first_name(type='text' name='first_name' value=(user===undefined ? '' : user.first_name))
      div 
        label(for='last_name') Last name: 
        input#last_name(type='text' name='last_name' value=(user===undefined ? '' : user.last_name))
      div 
        label(for='username') Username: 
        input#username(type='text' name='username' value=(user===undefined ? '' : user.username))
      div 
        label(for='password') Password: 
        input#password(type='password' name='password')
      div 
        label(for='password_confirm') Confirm password: 
        input#password_confirm(type='password' name='password_confirm')
      input(type='submit' value='Sign up')

  if errors
    hr
    ul
      each error in errors
        li!= error.msg