extends layout 

block content 
  h2= title 

  p #[strong You are now an esteemed member of the very secret Space Swirl Lodge!]
  p You now have access to authors and timestamps of all messages.
  p
    a(href='/') Go back to the index.